* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: #f5f5f5;
    background-image: linear-gradient(to bottom, #37474f, #263238);
    color: #000;
    padding: 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .container {
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 5%;
  }
  
  .album-cover {
    max-height: 100%;
    max-width: 100%;
    border-radius: 5%;
  }
  
  .play-btn {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #000;
    color: #fff;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0 10px;
    transition: background-color 0.3s ease;
    user-select: none;
  }
  
  .play-btn:hover {
    background-color: #333;
  }
  
  .playing {
    background-color: rgb(38, 255, 0);
    color: #000;
    animation: pulse 1s ease-in-out infinite alternate; /* add an animation to the playing state */
  }
  
  @keyframes pulse {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.2);
    }
  }
  
  .song-title {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 20px;
  }
  
  .unholy {
    font-size: 24px;
    font-weight: bold;
  }
  
  .artists {
    font-size: 18px;
    font-style: italic;
  }
  
  .time-left {
    text-align: center;
    font-size: 14px;
    color: #999;
  }
  
  .play-bar {
    height: 4px;
    background-color: #ccc;
    margin: 10px 0;
    margin-left: 10%;
    margin-right: 10%;
  }
  